<div id="<%= dom_id task %>">
  <p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= task.desc %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= task.due_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= task.user_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= task.category_id %>
  </p>

</div>
