<p style="color: green"><%= notice %></p>
<%= render @task %>
<div>
  <%= link_to "Edit this task", edit_category_task_path(@category, @task) , class: 'btn btn-primary'%> |
  <%= link_to "Back to tasks", category_tasks_path(@category) %>
  <%= button_to "Destroy this task", @task_path, method: :delete, class: "btn btn-danger" %>
</div>
