<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3 form-stylings">
    <%= form_with model: @user, data: { turbo: false } do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name, class:"form-label" %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.label :email, class:"form-label" %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.label :password, class:"form-label" %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.label :password_confirmation, "Confirmation", class:"form-label" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <%= f.submit "Create my account", class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>
