<% provide(:title, @user.name) %>
<h1 style="color:white;font-weight:bold">Your Journals</h1>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <%= link_to "New category", new_category_path, class: 'btn btn-info' %>
    </section>
  </aside>
</div>
<p style="color: green"><%= notice %></p>
<div class="d-flex gap-3 justify-content-center">
  <% @categories.each do |category| %>
    <div class="card">
      <div class="card-header">
        <h1><%= category.name %></h1>
        <br>
      </div>
      <div class="card-body">
        <h2 style="color:white"><%= category.details %> </h2>
        <br>
      </div>
      <div>
        <p>
          <%= link_to "Show this category", category, class: 'btn btn-warning d-flex justify-content-center' %>
        </p>
      </div>
    </div>
  <% end %>
</div>
